// bower:scss
// endbower

@import "./base/breakpoints";
@import "./base/mixins";
@import "./base/quantity-queries";
@import "./base/variables";


@font-face {
  font-family: 'CormorantGaramond-Medium';
  src: url('../fonts/CormorantGaramond-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/CormorantGaramond-Medium.otf')  format('opentype'),
	     url('../fonts/CormorantGaramond-Medium.woff') format('woff'), url('../fonts/CormorantGaramond-Medium.ttf')  format('truetype'), url('../fonts/CormorantGaramond-Medium.svg#CormorantGaramond-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Futura';
  src: url('../fonts/SFUFutura.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFUFutura.woff') format('woff'),
  url('../fonts/SFUFutura.ttf') format('truetype'),
  url('../fonts/SFUFutura.svg#SFUFutura') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/SFUFuturaBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUFuturaBold.woff') format('woff'), url('../fonts/SFUFuturaBold.ttf')  format('truetype'), url('../fonts/SFUFuturaBold.svg#SFUFuturaBold') format('svg');
  font-weight: bold;
  font-style: normal;
}


* {
  box-sizing: border-box;
}

html {
  background: url(../images/bg.jpg) center no-repeat #b4ebf0;
  background-size: auto 150% ;
  min-width: 100%;
  min-height: 100%;
}

body {
  color: #c7881c;
  font-family: 'Futura', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  @include screen(small) {
    font-size: 18px;
  }
}

main {
  margin-top: 20px;
  padding-bottom: 20px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  @include screen(small) {
    padding: 0 20px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.buttons {
  // color: #f8e7ad;
  .btn {
    margin-top: 0.5em;
    & + .btn {
      margin-left: 50px;
    }
  }
  @include screen(small) {
    color: #c7881c;
    position: static;
  }
}

.btn {
  border: 1px solid #ced9a4;
  color: #67370c;
  display: inline-block;
  font-size: 12px;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  position: relative;
  min-width: 200px;
  &.btn-short {
    min-width: 100px
  }
  &:before {
    background: url(../images/bg-btn.jpg) no-repeat center;
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
  }
  @include screen(medium) {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    min-width: 300px;
    &.btn-short {
      min-width: 40%;
    }
  }
  span {
    position: relative;
    z-index: 5;
  }
}

.max-width-55 {
  @include screen(medium) {
    max-width: 55%;
    margin: 0 auto;
  }
}

header {
  position: relative;
  z-index: 3;
}

.logo {
  background: url(../images/logo.png) no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  width: 109px;
  height: 79px;
  @include screen(large) {
    width: 182px;
    height: 131px;
  }
  h1 {
    font-family: 'CormorantGaramond-Medium', sans-serif;
    margin: 20px 0 0;
    @include screen(large) {
      margin-top: 40px;
    }
  }
}

.blackbar {
  background: url(../images/overlay.png) bottom center repeat-x;
  content: '';
  display: block;
  height: 150px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  @include screen(large) {
    height: 250px;
  }
}



.petal {
  background: url(../images/petal.png) center no-repeat;
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 19px;
  font-weight: normal;
  text-transform: uppercase;
  @include screen(small) {
    font-size: 38px;
  }
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: normal;
  @include screen(small) {
    font-size: 24px;
  }
}

a {
  color: currentColor;
}

.options-list {
  list-style: none;
  margin: 20px 0 30px;
  padding: 0;
  text-align: center;
  @include screen(medium) {
    margin: 50px 0 70px;
  }
  li {
    display: inline-block;
    margin: 0 10px 20px;
    vertical-align: top;
    max-width: calc(50% - 30px);
    @include screen(medium) {
      max-width: 25%;
    }
    img {
      border-radius: 100%;
      display: block;
      margin: 0 auto 5px;
      max-width: 70%;
      @include screen(medium) {
        margin-bottom: 10px;
        max-width: 100%;
      }
    }
    span  {
      display: block;
      font-size: 13px;
      @include screen(medium) {
        font-size: 12px;
      }
    }
    a {
      &:hover, &.active {
        img {
          transition: all 0.4s ease-in-out;
          animation: float 3s ease-in-out infinite;
        }
      }
      &.active {
        img {
          box-shadow: 0 0 20px rgba(238, 212, 135, 0.7);
        }
      }
    }
    a:not(.active) {
      img {
        opacity: 0.7;
      }
    }
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

figure {
  display: block;
  text-align: center;
  margin: 20px auto;
  @include screen(medium) {
    margin: 0;
  }
  img {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }
}

.popup {
  background: rgba(0, 0, 0, .6);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.popup-content {
  border: 2px solid #ced9a4;
  max-width: 80%;
  min-width: 300px;
  text-align: center;
  padding: 20px 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include screen(small) {
    width: 470px;
    max-width: none;
  }
  &:before {
    background: url(../images/bg-popup.png) no-repeat center;
    background-size: cover;
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
  }
  p {
    position: relative;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 13px;
    z-index: 2;
  }
  .btn {
    border: 0;
    min-width: 180px;
    &:before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.step:not(.step-1) {
  display: none;
}

.spinner {
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  background-color: #eed47d;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;

  position: fixed;
  top: 50%;
  left: 50%;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.result {
  @include screen(medium) {
    margin-left: 50%;
    margin-top: 70px;
    max-width: 50%;
    padding: 0 30px;
    figure {
      position: absolute;
      left: 120px;
      top: 0;
    }
    h2 {
      padding-top: 40px;
    }
  }
}

.flower {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 75%;
  @include screen(medium) {
    max-width: 100%;
  }
}

.intro {
  color: #c7881c;
  text-align: center;
  @include screen(medium) {
    margin-left: 50%;
    margin-top: 10vh;
    max-width: 50%;
    padding: 0 30px;
  }
}

.lower-text {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  @include screen(medium) {
    position: static;
  }
  small {
    display: block;
    margin-top: 12px;
    a {
      color: currentColor;
    }
  }
}

.kv {
  position: fixed;
  left: 0;
  bottom: 50px;
  right: 0;
  @include screen(medium) {
    left: calc((100vw - 1024px)/2);
    right: auto;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 72%;
    @include screen(small) {
      max-width: 55%;
    }
    @include screen(medium) {
      max-height: calc(100vh - 150px);
      max-width: none;;
    }
  }
}

#fb-image {
  position: fixed;
  top: -100vh;
  left: -100vw;
}

.tc {
  margin-bottom: 30px;
}

.tc-content {
  max-height: calc(100vh - 280px);
  overflow: auto;
  // padding: 0 20px;
  @include screen(medium) {
    max-height: calc(100vh - 400px);
  }
}


#btnTeam {
  min-width: 100px;
  padding: 0 40px;
}


ol, ul {
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

ol {
  & > li {
    & + li {
      margin-top: 1em;
    }
  }
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  margin: 1em 0;
  width: 100%;
}

td {
  border: 1px solid currentColor;
  padding: 7px;
}
