// bower:scss
// endbower

@import "./base/breakpoints";
@import "./base/mixins";
@import "./base/quantity-queries";
@import "./base/variables";

@font-face {
  font-family: 'Futura';
  src: url('../fonts/SFUFutura.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/SFUFutura.woff') format('woff'), 
  url('../fonts/SFUFutura.ttf') format('truetype'), 
  url('../fonts/SFUFutura.svg#SFUFutura') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  background: url(../images/bg.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Futura', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  @include screen(small) {
    font-size: 18px;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
  @include screen(small) {
    padding: 0 20px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.btn {
  border: 1px solid #ced9a4;
  color: #67370c;
  display: inline-block;
  font-size: 12px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  position: relative;
  &:before {
    background: url(../images/bg-btn.jpg) no-repeat center;
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
  }
  @include screen(small) {
    font-size: 20px;
    padding: 0 50px;
    height: 50px;
    line-height: 50px;
  }
  span {
    position: relative;
    z-index: 5;
  }
}

.logo {
  background: url(../images/logo.png) no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  width: 109px;
  height: 79px;
  @include screen(small) {
    width: 182px;
    height: 131px;
  }
  h1 {
    margin: 20px 0 0;
    @include screen(small) {
      margin-top: 40px;
    }
  }
}

.has-overlay {
  &:after {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.72) 78%, rgba(0, 0, 0, 0.72) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.72) 78%, rgba(0, 0, 0, 0.72) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.72) 78%, rgba(0, 0, 0, 0.72) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b8000000', GradientType=0);
    content: '';
    display: block;
    height: 150px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.kv {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;

  img {
    max-width: 98%;

    @include screen(small) {
      max-width: 100%;
    }
  }
}

h1 {
  font-size: 19px;
  @include screen(small) {
    font-size: 38px;
  }
}

main {
  .intro {
    color: #c7881c;
    text-align: center;
    p {
      max-width: 55%;
      margin: 0 auto;
    }
    @include screen(small) {
      float: right;
      margin-top: 80px;
      max-width: 430px;
      p {
        max-width: 100%;
      }
    }
    .btn {
      clear: both;
      margin-top: 0.5em;
    }
    .intro-cta {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      color: #f8e7ad;
      @include screen(small) {
        color: #c7881c;
        position: static;
      }
    }
  }
}
