$font-default: 'ProximaNovaA-Light', sans-serif;
$font-bold: 'ProximaNovaA-Bold',sans-serif;
$font-reg: 'ProximaNovaA-Regular',sans-serif;
$font-min: 'MinionPro-It', serif;
$imgPath: "/assets/images";

$colorBurger: #34ac55;
$colorPrimary: #34ac55;
$gray: #696969;
$lightGreen: #2ee560;
$yellow: #ffa90a;
$blue: #4dd1ff;
