
@font-face {
  font-family: 'SFUFutura';
  src: url('SFUFutura.eot?#iefix') format('embedded-opentype'),  url('SFUFutura.woff') format('woff'), url('SFUFutura.ttf')  format('truetype'), url('SFUFutura.svg#SFUFutura') format('svg');
  font-weight: normal;
  font-style: normal;
}
